body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
}
h1 {
    color: #147be4;
}
p {
    text-align: justify;
}
.landing {
    height: 400px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@media(min-device-width: 480px){
    .landing {
        top:-25%;
        width: 520px;
        font-size: 1.25em;
    }
}
@media(max-device-width: 479px){
    .landing {
        top:-55%;
        width: 80%;
        font-size: 2.5em;
    }
}
#login-button {
    margin: 15px 0 15px 0;
    font-size: 150%;
    font-weight: bold;
}