body {
	font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #4d4d4d;
  color: white;
}
h1 {
  font-family: 'Lobster', cursive;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.landing {
  height: 400px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  p {
    text-align: justify;
  }
  a {
    color: white;
    border-bottom: 1px dotted white;
    text-decoration: none;
  }
}
.ghost-button {
  display: inline-block;
  width: 300px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin: 25px 0 15px 0;
  font-size: 125%;
  &:hover, &:active {
    background-color: #fff;
    cursor: pointer;
    color: #000;
  }
}
@media(min-device-width: 480px){
  .landing {
    top:-15%;
    width: 550px;
    font-size: 1.25em;
  }
}
@media(max-device-width: 479px){
  .landing {
    top:-60%;
    width: 75%;
    font-size: 2.5em;
  }
  .ghost-button {
    width: 80%;
    padding: 25px;
  }
  h1 {
    font-size: 2.5em;
  }
}
a img {
  border: 0;
}
.footer {
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  padding: 10px;
  img {
    height: 35px;
    -ms-interpolation-mode: bicubic;
  }
}